body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
p{
    color: rgb(65, 64, 64);
}
.purple-color{
    color: rgb(192, 64, 177);
}
#white-color{
    color: oldlace;
}
.align-center{
    text-align: center;
}
.second-header{
    font-size: 60px;
    font-weight: 700;
}
.flex{
    display: flex;
}
.img{
    height: 200px;
    width: 200px;
}
.half-width{
    width: 40%;
}
#section-2{
    padding: 10% 10%;
}
#bg-color1{
    background-color: rgb(218, 206, 240);
    margin: 1%;
    padding: 2%;
    border-radius: 30px;
}
#bg-color2{
    background-color: rgb(245, 220, 220);
    margin: 1%;
    padding: 2%;
    border-radius: 30px;
}
#bg-color3{
    background-color: rgb(247, 243, 191);
    margin: 1%;
    padding: 2%;
    border-radius: 30px;
}
#bg-color4{
    background-color: rgb(1, 0, 17);
    height: 230px;
    margin-bottom: 10px;
}
.section3-4{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
}
.picture2-3{
    height: 600px;
    width: 700px;
}
#picture-4{
    height: 800px;
}
.padding-right{
    padding-right: 10%;
}