body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: left;
}
p{
    color: rgb(65, 64, 64);
    font-size: 25px;
}
.purple-color{
    color: rgb(192, 64, 177);
}
.white-color{
    color: oldlace;
}
.align-center{
    text-align: center;
}
.flex{
    display: flex;
}
#first-header{
    font-size: 80px;
    font-family: 'Yeseva One', cursive;
    font-style: normal;
    font-weight: normal;
    padding-left: 2%;
}
.second-header{
    font-size: 60px;
    font-weight: 700;
}
.third-header{
    font-size: 50px;
    font-weight: 700;
    color: rgb(39, 38, 38);
}
.btn{
    text-decoration: none;
    background-image: linear-gradient(rgb(167, 112, 238) ,rgb(206, 116, 116) );
    color: white;
    padding: 10px;
    border-radius: 5px;
}
.img{
    height: 200px;
    width: 200px;
}
#section-2{
    padding: 10% 10%;
}
#bg-color1{
    background-color: rgb(218, 206, 240);
    margin: 1%;
    padding: 2%;
    border-radius: 30px;
}
#bg-color2{
    background-color: rgb(245, 220, 220);
    margin: 1%;
    padding: 2%;
    border-radius: 30px;
}
#bg-color3{
    background-color: rgb(247, 243, 191);
    margin: 1%;
    padding: 2%;
    border-radius: 30px;
}
#bg-color4{
    background-color: rgb(1, 0, 17);
    height: 200px;
    margin-bottom: 10px;
    padding-top: 2%;
}
.section3-4{
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
}
.section1-5{
    padding-left: 5%;
    padding-right: 10%;
    padding-top: 2%; 
    padding-bottom: 2%;
    margin: 5%;
}
#line{
    border-left: 5px solid purple;
    border-radius: 5px;
}
#picture-1{
    height: 500px;
    width: 500px;
}
.picture2-3{
    height: 600px;
    width: 700px;
}
#picture-4{
    height: 800px;
}
.padding-right{
    padding-right: 10%;
}